# --- IDE configuration file ---
.idea/

# --- Python cached files (standard ignore) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- environment ---
.venv/

# --- Test data ---
DATAS/

# --- pyinstaller files ---
*.spec
dist/
build/

# --- decompile file from IDA ---
IDA_Disassemble_code/

# --- tmp document files ---
Document_tmp/

# --- LOGS ---
*.log

